.img-phone {
	max-height: 60vh;
	margin-left: 25%;

	// @include media-breakpoint-up(lg) {
	// 	width: auto;
	// 	max-height: 500px;
	// 	margin-left: 25%;
	// }
}

.app-link {
	display: flex;

	img {
		padding-right: 20px;
		// align-items: center;
	}
}
