.img-phone {
	max-height: 60vh;
	margin-left: 25%;

	// @include media-breakpoint-up(lg) {
	// 	width: auto;
	// 	max-height: 500px;
	// 	margin-left: 25%;
	// }
}

.app-icon {
	height: -50px;
}

.app-link {
	// padding: 1rem 1rem;
	display: flex;

	img {
		padding-right: 20px;
		align-items: center;
	}
}
