@use '../custom' as *;
@use '../components/mixins' as *;

.get-started {
	padding: 4rem 0;
	background-color: $gray-200;
}

.round-corners {
	border-radius: 50%;
}

.cta-info {
	margin-top: auto;
	margin-left: auto;
}

.center-contact {
	margin: 10% 10%;
}

// FORM CONTENT
.form {
	padding: 2%;

	button {
		border: none;
		color: $white;

		a {
			color: $white;
			text-decoration: none;
			text-transform: capitalize;
		}
	}
}

// STYLE THE CONTACT-BOX CONTENT
.contact-box {
	position: relative;
	width: 100%;

	&__icon {
		width: 1.5rem;
		stroke: $primary;
		padding-top: 0.5rem;

		@include media-breakpoint-up(sm) {
			width: 3rem;
		}
	}

	&__info {
		padding: 0.4rem;
		font-weight: bold;

		&--title {
			color: $black;
			font-size: 1rem;
			text-decoration: none;

			@include media-breakpoint-up(sm) {
				font-size: 1.6rem;
			}
		}

		&--subtitle {
			color: $gray-600;
			font-size: 0.8rem;
			text-decoration: none;

			@include media-breakpoint-up(sm) {
				font-size: 1.2rem;
			}
		}
	}
}

.custom-form {
	// width: 100%;
	padding: 0.5rem 0;
	border: 1px solid red;
}
