@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
	// @include gradient;
	color: $white;

	li {
		padding: 0 0.7rem;
	}
}

.logo-size {
	img {
		width: 10rem;
	}
}

.navColor {
	.nav-link {
		@include textGradient;
	}
}

.navbar-toggler .navbar-toggler-icon {
	color: red !important;
	border: solid 1px red;
}

.navbar .navbar-toggler .icon-bar {
	background: red !important;
}
