@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
	// @include gradient;
	color: $white;

	li {
		padding: 0 0.7rem;
	}
}

.logo-size {
	img {
		width: 10rem;
	}
}
#navbar-nav {
	.nav-link {
		@include textGradient;
	}
}

.navColor {
	.navbar-brand {
		color: $mainColor;

		&:hover,
		&:focus {
			color: $mainColor;
		}
	}

	.navbar-nav {
		.nav-link {
			color: $mainColor;

			&:hover,
			&:focus {
				color: $navbar-light-hover-color;
			}

			&.disabled {
				color: $navbar-light-disabled-color;
			}
		}

		.show > .nav-link,
		.nav-link.active {
			color: $navbar-light-active-color;
		}
	}

	.navbar-toggler {
		color: $mainColor;
		border-color: $navbar-light-toggler-border-color;
	}

	.navbar-toggler-icon {
		background-image: escape-svg($navbar-light-toggler-icon-bg);
	}

	.navbar-text {
		color: $navbar-light-color;

		a,
		a:hover,
		a:focus {
			color: $navbar-light-active-color;
		}
	}
}
